body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    flex-direction: column;
    padding: 12px;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    color: white;
}

.text{
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.smaller{
    color: white;
    margin-bottom: 6px;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

ul a{
    text-decoration: none;
    color: #E5E7EB;
}

.button{
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 4px 20px;
}

.one{
    border: 2px solid #1f2937;
}

.two{
    border: 2px solid white;
}

.placeholder{
    background: gray;
    width: 400px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-header{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 42px;
}

.random{
    text-align: center;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 32px;
}

.middle{
    display: flex;
    flex-direction: column;
    background: white;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box{
    width: 100px;
    height: 100px;
    border: 2.5px solid #3882f6;
    border-radius: 8px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
}

.subtext{
    text-align: center;
    font-size: 14px;
    color: #45474b;
    max-width: 100px;
}

.quote{
    font-style: italic;
    font-size: 16px;
    font-weight: 50;
    max-width: 400px;
    margin-top: 40px;
    color: rgb(109, 103, 103);
}

.thor{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.god{
    font-size: x-small;
    font-weight: 800;
    margin-bottom: 40px;
}

.cta{
    width: 500px;
    display: flex;
    background-color: #3882f6;
    color: #E5E7EB;
    justify-content: space-between;
    padding: 24px 60px;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 4px;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.time{
    display: flex;
    flex-direction: column;
}

.call{
    font-weight: 800;
}

.sign{
    font-size: small;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #E5E7EB;
    padding: 20px;
    font-size: small;
}